body{
	width: auto;
	height: auto;

	font-family: Roboto !important;
}


main { width: 100%;
	height: 100vh;
	position: fixed;
	overflow: auto;
	/*text-align: center;*/

}

.nomini-head{
	background-image: linear-gradient(#00cfcf,#00cfef);
		height: 25vh;
		width: 100%;
		z-index: 0;
		position: fixed;
}


.row{ width: 100% }

.top { 
	text-align: center;

	background-image: linear-gradient(#00cccc,#00cced);
	height: 50vh;
	width: 100%;
	z-index: 0;
}


.top-profile .netahub { height: 100px; width: auto; margin-top: 60px }
.top .netahub { height: 50px; width: auto; margin-top: 60px }

.gender { padding-left: 0!important }
.age { padding-right: 0!important }

.section-login {
	position: absolute;
	z-index: 1;
	top: 35%;
	left: 5%;
	width: 90%;
	height: auto;

	text-align: center;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	border-radius: 20px;
	background-color: #ffffff

}

.section-register{ 
	position: absolute;
	z-index: 1;
	top: 30%;
	left: 5%;
	width: 90%;
	height: auto;

	text-align: center;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	border-radius: 20px;
	background-color: #ffffff
}

.section-mid { width: 80%; margin: 5% 10%; }


.section-login form, .section-register form { text-align: left; }
.section-login form label, .section-register form label{ font-size: 12px; margin-top: 20px; margin-bottom: 0 !important; color: #afafaf; }
.section-login form .manage-form, .section-register form .manage-form{  margin-bottom: 40px; color: #000000; border-bottom: 1px solid #ddd; width: 100% }
.section-login form .input-text, .section-register form .input-text{  border-bottom: 1px solid #ddd; width: 100% }
.section-login form .input-text .phone-icon, .section-register form .input-text .phone-icon{ text-align: right; }
.section-login form .input-text .fas, .section-register form .input-text .fas{ margin-top: 5px; color: #afafaf; }
.section-login form .input-1, .section-register form .input-1 { border: none; margin-bottom: 2px;font-size: 16px; color: #0000cc; font-weight: 600px; width: 100%; }
.section-login form .input-1::placeholder , .section-register form .input-1::placeholder{ color: #0f0f0f ;font-weight: 600; }


.submit-login { text-align: center; }

.next-button { 
	position: absolute;

	width: 60%;
	margin: 0 10%;
	color: #ffffff;
	bottom: -18px;
}


.btn-next{
	background-image: linear-gradient(#00cccc,#00cced) ;

	text-align: center; 
	color: #ffffff !important; 
	border: none; 
	border-radius: 40px !important; width: 100%; padding: 5px 0; font-size: 18px
	 }

	.bottom, .bottom-otp{ width: 100%; text-align: center;  }
	.bottom h6 { font-size: 12px; margin-top: 20vh ; text-align: center; }
	.bottom-otp h6 { font-size: 12px; margin-top: 35% ; text-align: center; }
	.bottom2 h6 { font-size: 12px; margin-top: 70% ; text-align: center; }



	.header { 
		width: 100%;
		z-index: 10;
		position: fixed;
		overflow: hidden;
		
	}

	.header-top { position: fixed; width:100%; overflow: hidden; padding: 5px 0 3px; z-index: 100; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); }


	.header .profile_pic { 
		text-align: right;
	}

	.header .profile_pic  img{ 
		width: 45px; height: 45px;
	}

	.header .hamburger  img{ 
		width: 35px; height: 35px; margin-top: 5px
	}


	.section-text{
		top: 15vh;
		position: absolute;
		width: 90%;
		margin: 0 5%;
		border-radius: 10px;
		overflow: auto ;

		/*height: 20px;*/
		/*background-color: #ffffff;*/
		z-index: -
	}


	.section-text .home-images{
		width: 100%; height: auto;
		margin: 20% 5%;
	}

	.section-text .home-icon{
		width: 100%; height: auto;
		margin-top: 45px
		
	}

	.section-text h5{
		margin-top: 10%; 
		font-size: 1em;
		margin-bottom: 0 !important
	}

	.section-text p{
		font-size: 0.7em;
		line-height: 1.1;
		text-align: justify;
		
	}

	.nomini { 
		text-align: center;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px  rgba(0, 0, 0, 0.1);
		border: 1px solid #eee;
		background-color: #fff;
		border-radius: 10px;

	}

	.nomini-text{
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px  rgba(0, 0, 0, 0.1);
		border: 1px solid #eee;
		background-color: #fff;
		border-radius: 10px;
			}
			.nomini-section { margin-bottom: 20px }

			.nomini-text a{
		margin-top: 40%	}

	.nomini-text h4{margin-top: 10px;
		margin-bottom: 0 !important;
		font-size: 20px;
		font-weight: 600
	}

	.nomini-text h6{
		font-size: 16px;
	}

	.section-nomini{
		margin-bottom: 20px;
	}

	.form-otp {
		text-align: center !important;
	}

	.section-nomini .nomini-images { 
		width: 75%; height: auto; margin: 15px 0 5px;
	}

	.otp-input{ 
		text-align: center;
		display: block;
		 width: 30px;
		 height: 30px;
		  border: none;
		background-color: #dfdfdf;
	  }

	  .otp-number {

	  	margin: 30px 0 0 !important;
	  	width: 100%
	  }

	.section-text .section-main{
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px  rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		margin-bottom: 20px;
		z-index: 7;
		background-color: #ffffff
	}

	.section-text .nomini-text .btn-vote{
		background-image: linear-gradient(#00cccc,#00cced) ;
		text-align: center; 
		color: #ffffff; 
		border: none; 
		border-radius: 20px !important; width: 100%; padding: 5px 20px; font-size: 14px ;
	}



.top-profile { 
	text-align: center;
	background-image: linear-gradient(#00cccc,#00cced);
	height: 20vh;
	width: 100%;
	z-index: 0;
	 border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
} 



.top-profile img {
	margin-top: 12vh;
	width: 30%;
	height: auto
}


.profile-form { 
	margin: 1% 5%;
	width: 90%
 }

 .profile-form .input-field {
	background-color: #eeeeee;
	width: 100%;
	margin-left: 0%;
	margin-bottom: 10px
}

 .profile-form .input-field input, .profile-form .input-field .form-control {
 	border: none;
 	text-align: right;
 	background-color: #eeeeee;
 	color: #0000cc;
 	width: 100%;
 }

.profile-form .input-field h6{
	margin-top: 10px;
	color: #afafaf;
}
.section-profile { margin-top: 23vh }

.top-detail { width: 100%; height: 300px; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;background-image: linear-gradient(#00cfcf,#00cfef); padding : 0 !important;  }

.profile-img { width: 100%; height: 95%;  border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; margin-bottom: 20px; background-color: #fff }

.section-detail { width: 96%; margin: 2% }
.section-detail h3{ margin-bottom: 0!important }
.section-detail h4{ margin-bottom: 0!important; font-weight: normal !important }
.section-detail h6{color: #00cfef; margin-bottom: 20px}
.section-detail p{ 
   margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.2;
    font-size: 13px;
    text-align: justify;
}





	@media screen and (min-width: 767px){
		main { 
			width: 100%;
		}
		.section-login { width: 60%; left: 20%; }
		.section-register { width: 60%; left: 20%; }
				.bottom h6 {
    margin-top: 20vh;
    font-size: 14px;
}

.next-button { width: 45% }
.bottom2 h6 {
    font-size: 14px;
    margin-top: 35vh;
    text-align: center;
}


.section-text .home-icon{
		width: 50px; height: auto;
		margin-top: 40px;
	
		
	}

.section-text .section-main{
	width: 80%;
	margin: 0 10%;
		margin-bottom: 10px
	}
.section-text h5 {
	margin-top: 10px;
    font-size: 1.5em;

}

.section-text .home-images {
	margin-bottom: 5px
}

.header .profile_pic img { margin-right: 7.5% }

.header .hamburger img { margin-left: 2% }

.section-text p {
    font-size: 1em;
    line-height: 1.2;
}


.top-detail { width: 100%; height: auto; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;background-image: linear-gradient(#ffffff,#ffffff) !important; padding : 0 !important;  }

.profile-img { width: 100%; height: auto;  border-radius: 50%; margin-bottom: 20px; background-color: #fff; margin-top: 20% }

.section-detail { width: 90%; margin: 5% }
.section-detail h3{ margin-bottom: 0!important;  font-size: 32px }
.section-detail h4{ margin-bottom: 0!important; font-weight: normal !important; font-size: 26px }
.section-detail h6{color: #00cfef; margin-bottom: 20px; font-size: 26px}
.section-detail p{ 
   margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.3;
    font-size: 16px;
    text-align: justify;
}


	}









	@media screen and (min-width: 1023px){
		main { 
			width: 100%;
		}
		.section-login { width: 50%; left: 25%; }
		.section-register { width: 50%; left: 25%; }

		.bottom h6 {
    margin-top: 20vh;
    font-size: 16px;
}
.next-button { 
    width: 40%;
    margin: 0px 25%; }

    .bottom2 h6 {
    font-size: 16px;
    margin-top: 35vh;
    text-align: center;
}

	}
